@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
}

.header {
  margin: 0 auto;
  width: 431px;

  &__title {
    background-image: url('/img/flappy_bird_bg.png');
    background-position: 0 210px;
    padding: 10px 0;
    margin: 0;
    width: 100%;
  }
}

.score-container {
  display: flex;
  justify-content: space-between;
  padding: 8px 6px;
}
